/* ===== ABOUT SECTION ===== */
.about-section {
  background: radial-gradient(circle at top, #0f172a, #020617);
  padding: 120px 80px;
}

.about-title {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.about-title h2 {
  font-size: 48px;
}

.about-title h2 span {
  color: #00fddc;
}

.about-title p {
  margin-top: 12px;
  color: #9ca3af;
}

/* GRID */
.about-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 50px;
}

/* LEFT CONTENT */
.about-text h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.about-text h3 span {
  color: #00fddc;
}

.about-text p {
  margin-bottom: 18px;
  line-height: 1.7;
  color: #cbd5f5;
}

.about-text strong {
  color: white;
}

/* HIGHLIGHT */
.about-highlight {
  margin-top: 25px;
  padding: 14px 18px;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    rgba(0, 253, 220, 0.12),
    rgba(147, 51, 234, 0.12)
  );
  border: 1px solid rgba(0, 253, 220, 0.3);
  color: #e5e7eb;
}

.about-highlight span {
  color: #00fddc;
  font-weight: 500;
}


/* RIGHT STACK */
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*glow effect*/
.stack-card {
  transition: all 0.4s ease;
}

.stack-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top,
    rgba(0, 253, 220, 0.18),
    transparent 70%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
}

.stack-card:hover::before {
  opacity: 1;
}

.stack-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 40px rgba(0, 253, 220, 0.25);
}

.stack-card {
  padding: 22px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.stack-card h4 {
  font-size: 20px;
  margin-bottom: 14px;
  color: #00fddc;
}

/* TAGS */
.stack-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.stack-tags span {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  background: rgba(0, 253, 220, 0.15);
  color: #00fddc;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-section {
    padding: 100px 25px;
  }

  .about-container {
    grid-template-columns: 1fr;
  }
}
