/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  background: rgba(2, 9, 42, 0.85);
  backdrop-filter: blur(14px);
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #00fddc;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-links a:hover {
  color: #00fddc;
}

/* ===== BUTTON =====
.btn {
  background: linear-gradient(90deg, #00fddc, #9333ea);
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
} */

/* ===== PREMIUM GLOW BUTTON ===== */
.btn{
  position: relative;
  padding: 10px 24px;
  border-radius: 999px;

  background: linear-gradient(135deg, #00fddc, #7c3aed);
  color: #020617;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;

  border: none;
  cursor: pointer;

  /* Soft default glow */
  box-shadow:
    0 0 12px rgba(0, 253, 220, 0.35),
    0 0 24px rgba(124, 58, 237, 0.25);

  transition: all 0.35s ease;
}

/* Hover effect */
.btn:hover {
  transform: translateY(-2px);

  box-shadow:
    0 0 18px rgba(0, 253, 220, 0.7),
    0 0 45px rgba(124, 58, 237, 0.6);
}

