/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ===== BODYAD BODY ===== */
body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #020617, #000);
  color: white;
}




